{% extends 'public/base.html' %}
{% block head %}
{% endblock %}

{% block body %}
    <section class="parallax" data-parallax-background-ratio="0.5"
             style="background-image:url(/static/public/images/about-us-bg.jpg)">
        <div class="opacity-extra-medium bg-extra-dark-gray"></div>
        <div class="container">
            <div class="row align-items-stretch justify-content-center small-screen">
                <div class="col-12 page-title-extra-small text-center d-flex align-items-center justify-content-center flex-column">
                    <h1 class="alt-font text-white opacity-6 margin-20px-bottom">About our company</h1>
                    <h2 class="text-white alt-font font-weight-500 w-55 md-w-65 sm-w-80 center-col xs-w-100 letter-spacing-minus-1px line-height-50 sm-line-height-45 xs-line-height-30 no-margin-bottom">
                        WE ARE PROFESSIONAL, RELIABLE AND STRONG</h2></div>
                <div class="down-section text-center"><a href="#about" class="section-link"><i
                        class="ti-arrow-down icon-extra-small text-white bg-transparent-black padding-15px-all xs-padding-10px-all border-radius-100"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 pr-lg-0 d-flex md-margin-30px-bottom">
                    <div class="w-100 md-h-700px sm-h-550px xs-h-450px cover-background"
                         style="background-image:url(/static/public/images/about-us-img-07.jpg)"></div>
                </div>
                <div class="col-12 col-lg-8 col-md-6 pl-lg-0 d-flex sm-margin-30px-bottom">
                    <div class="justify-content-center w-100 d-flex flex-column bg-fast-blue padding-5-half-rem-lr lg-padding-3-rem-lr md-padding-4-rem-all">
                        <span class="text-extra-large alt-font font-weight-500 text-white margin-20px-bottom d-block">Bookallbet is a bet converting and prediction site that helps you to convert your bet codes from one betting platform to another. We also offer you accurate predictions on games that give you an edge over other bet players. Our predictions are accurate with a proven track record of wins.</span>
                    </div>
                </div>
        </div>
    </section>
    <section class="wow animate__fadeIn pt-md-0 pb-md-0 overflow-visible sm-border-bottom sm-border-color-medium-gray">
        <div class="container">
            <div class="row align-items-center justify-content-center no-margin-lr overlap-section">
                <div class="col-12 box-shadow-medium bg-white align-items-center padding-4-rem-all sm-no-padding-tb sm-padding-15px-lr sm-box-shadow-none">
                    <div class="row row-cols-1 row-cols-md-3">
                        <div class="col border-right border-color-medium-gray text-center sm-no-border-right sm-margin-30px-bottom">
                            <h4 class="text-fast-blue alt-font font-weight-500 mb-xl-0 d-inline-block align-middle w-130px lg-w-100 counter"
                                data-speed="2000" data-to="827"></h4>
                            <div class="d-inline-block align-middle text-center text-xl-left"><span
                                    class="alt-font text-extra-dark-gray font-weight-500 line-height-14px d-block ">Our Recognitions</span><span
                                    class="alt-font">For delivery</span></div>
                        </div>
                        <div class="col border-right border-color-medium-gray text-center sm-no-border-right sm-margin-30px-bottom">
                            <h4 class="text-fast-blue alt-font font-weight-500 mb-xl-0 d-inline-block align-middle w-130px lg-w-100 counter"
                                data-speed="2000" data-to="8947"></h4>
                            <div class="d-inline-block align-middle text-center text-xl-left"><span
                                    class="alt-font text-extra-dark-gray font-weight-500 line-height-14px d-block">Working hours</span><span
                                    class="alt-font">Desperate for work</span></div>
                        </div>
                        <div class="col text-center"><h4
                                class="text-fast-blue alt-font font-weight-500 mb-xl-0 d-inline-block align-middle w-130px lg-w-100 counter"
                                data-speed="2000" data-to="2830"></h4>
                            <div class="d-inline-block align-middle text-center text-xl-left"><span
                                    class="alt-font text-extra-dark-gray font-weight-500 line-height-14px d-block">Happy clients</span><span
                                    class="alt-font">We love clients</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}