{% extends 'public/base.html' %}
{% block head %}
{% endblock %}

{% block body %}
    <section class="bg-light-gray padding-40px-tb sm-padding-30px-tb page-title-small">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-8 col-lg-6 text-center text-lg-left"><h1
                        class="alt-font text-extra-dark-gray font-weight-500 no-margin-bottom d-inline-block">Contact
                    us</h1><span class="alt-font text-medium d-block d-md-inline-block sm-margin-5px-top">WE ARE PROFESSIONAL, RELIABLE AND STRONG</span>
                </div>
                <div class="col-xl-4 col-lg-6 text-center text-lg-right breadcrumb justify-content-center justify-content-lg-end text-small alt-font md-margin-15px-top">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/contact">Pages</a></li>
                        <li>Contact us</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2">
                <div class="col md-margin-50px-bottom sm-margin-30px-bottom">
                    <div class="feature-box text-center">
                        <div class="feature-box-icon"><i
                                class="line-icon-Geo2-Love icon-extra-medium text-fast-blue margin-30px-bottom md-margin-15px-bottom sm-margin-10px-bottom"></i>
                        </div>
                        <div class="feature-box-content last-paragraph-no-margin"><span
                                class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray text-small text-uppercase">Office Address</span>
                            <p class="d-inline-block w-70 lg-w-90 md-w-60 sm-w-80 xs-w-100">Texas, United States of
                                America</p></div>
                    </div>
                </div>
                <div class="col md-margin-50px-bottom sm-margin-30px-bottom">
                    <div class="feature-box text-center">
                        <div class="feature-box-icon"><i
                                class="line-icon-Headset icon-extra-medium text-fast-blue margin-30px-bottom md-margin-15px-bottom sm-margin-10px-bottom"></i>
                        </div>
                        <div class="feature-box-content last-paragraph-no-margin"><span
                                class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray text-small text-uppercase">WhatsApp</span>
                            <p>Phone:+1 970 210 1722</p></div>
                    </div>
                </div>
                <div class="col xs-margin-30px-bottom">
                    <div class="feature-box text-center">
                        <div class="feature-box-icon"><i
                                class="line-icon-Mail-Read icon-extra-medium text-fast-blue margin-30px-bottom md-margin-15px-bottom sm-margin-10px-bottom"></i>
                        </div>
                        <div class="feature-box-content last-paragraph-no-margin"><span
                                class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray text-small text-uppercase">E-mail Us</span>
                            <p><a href="mailto:info@Vestnance.com"
                                  class="text-sky-blue-hover">info@Vestnance.com</a><br/><a
                                    href="mailto:hr@Vestnance.com" class="text-light-blue text-sky-blue-hover">support@Vestnance.com</a>
                            </p></div>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-box text-center">
                        <div class="feature-box-icon"><i
                                class="line-icon-Information icon-extra-medium text-fast-blue margin-30px-bottom md-margin-15px-bottom sm-margin-10px-bottom"></i>
                        </div>
                        <div class="feature-box-content last-paragraph-no-margin"><span
                                class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray text-small text-uppercase">Customer Services</span>
                            <p class="d-inline-block w-70 lg-w-90 md-w-60 sm-w-80 xs-w-100">Our live chat support system
                                is always avaliable</p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="big-section fix-background overlap-height"
             style="background-image:url(/static/public/images/contact-us-img-01.jpg)">
        <div class="opacity-full bg-gradient-fast-blue-purple"></div>
        <div class="container"></div>
    </section>
    <section class="bg-light-gray overflow-visible pt-md-0">
        <div class="container">
            <div class="z-index-6 position-relative overlap-section-three-fourth bg-white box-shadow-large padding-8-rem-all md-padding-5-rem-all xs-padding-4-rem-tb xs-padding-2-rem-lr wow animate__fadeIn"
                 data-wow-delay="0.4s">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-6 col-lg-7 text-center margin-4-half-rem-bottom md-margin-3-rem-bottom">
                        <span class="alt-font letter-spacing-minus-1-half text-extra-medium d-block margin-5px-bottom">Fill out the form and we&#x27;ll be in touch soon!</span>
                        <h4 class="alt-font font-weight-600 text-extra-dark-gray">How we can help you?</h4></div>
                    <div class="col-12">
                        <form action="#" method="post" novalidate="">
                            <div class="row row-cols-1 row-cols-md-2">
                                <div class="col margin-4-rem-bottom sm-margin-25px-bottom"><input type="text"
                                                                                                  class="medium-input bg-white margin-25px-bottom required"
                                                                                                  name="name"
                                                                                                  placeholder="Your name"/><input
                                        type="email" class="medium-input bg-white margin-25px-bottom required"
                                        name="email" placeholder="Your email address"/><input type="tel"
                                                                                              class="medium-input bg-white mb-0"
                                                                                              name="phone"
                                                                                              placeholder="Your mobile"/>
                                </div>
                                <div class="col margin-4-rem-bottom sm-margin-20px-bottom"><textarea
                                        class="medium-textarea bg-white h-200px" rows="6" name="comment"
                                        placeholder="Your message"></textarea></div>
                                <div class="col text-left sm-margin-25px-bottom"></div>
                                <div class="col text-center text-md-right">
                                    <button id="project-contact-us-button"
                                            class="btn btn-medium btn-gradient-light-purple-light-orange mb-0 submit"
                                            type="submit">Send Message
                                    </button>
                                </div>
                            </div>
                            <div class="form-results d-none"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center wow animate__fadeIn">
                <div class="col-12 col-lg-10 d-flex flex-row align-items-center justify-content-center text-center margin-7-half-rem-top">
                    <span class="col-auto w-40px h-1px bg-dark-gray opacity-3"></span>
                    <div class="alt-font font-weight-500 text-large text-extra-dark-gray padding-20px-lr">We like to
                        talk and on the strength of that you are free to reach out anytime.
                    </div>
                    <span class="col-auto w-40px h-1px bg-dark-gray opacity-3"></span></div>
            </div>
        </div>
    </section>
{% endblock %}