{% extends 'public/privatebase.html' %}
{% block head %}
{% endblock %}

{% block body %}
    <div id="app" app-page="forgotpassword">
        <div class="container sm:px-10">
            <div class="block xl:grid grid-cols-2 gap-4">
                <div class="hidden xl:flex flex-col min-h-screen"><a href="/"
                                                                     class="-intro-x flex items-center pt-5"><span
                        class="text-white text-lg ml-3">Sample <span class="font-bold"></span></span></a>
                    <div class="my-auto"><img alt="investment bot" class="-intro-x w-3/4 -mt-16"
                                              src="/static/private/dist/images/bg-login.svg">
                        <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">A few more clicks
                            to<br>sign
                            in to your account.
                        </div>
                        <div class="-intro-x mt-5 text-lg text-white">Manage all your investment in one place</div>
                    </div>
                </div>
                <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
                    <div class="my-auto mx-auto xl:ml-20 bg-white xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-3/4 xl:w-3/4">
                        <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">Password Reset
                            Form</h2>
                        <div class="intro-x mt-2 text-gray-500 xl:hidden text-center">A few more clicks reset your
                            password. Manage all your investment in one place
                        </div>
                        <form forgotpasswordform="submit">
                            <div class="intro-x mt-8"><label class="block text-gray-700 text-sm font-bold mb-2"
                                                             for="email">Email
                                Address</label><input type="email" id="email" name="email"
                                                      class="intro-x login__input input w-full input--lg border border-gray-300 block"
                                                      placeholder="Enter your email" required></div>
                            <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                                <button type="submit"
                                        class="button button--lg w-full xl:w-32 text-white bg-theme-1 xl:mr-3">Submit
                                    <svg viewBox="0 0 24 24" height="18" width="18" aria-hidden="true" focusable="false"
                                         fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="StyledIconBase-ea9ulj-0 hPhvO">
                                        <line x1="5" x2="19" y1="12" y2="12"></line>
                                        <polyline points="12 5 19 12 12 19"></polyline>
                                    </svg>
                                </button>
                                <a type="button" href="/login"
                                   class="button button--lg w-full xl:w-32 text-gray-700 border border-gray-300 mt-3 xl:mt-0">
                                    <svg viewBox="0 0 24 24" height="18" width="18" aria-hidden="true" focusable="false"
                                         fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="StyledIconBase-ea9ulj-0 hPhvO text-theme-1">
                                        <line x1="19" x2="5" y1="12" y2="12"></line>
                                        <polyline points="12 19 5 12 12 5"></polyline>
                                    </svg>
                                    Sign in
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="Toastify" style=""></div>
    </div>
{% endblock %}