{% extends 'public/privatebase.html' %}
{% block head %}
{% endblock %}

{% block body %}
    <div id="app" app-page="signin">
        <div class="container sm:px-10">
            <div class="block xl:grid grid-cols-2 gap-4">
                <div class="hidden xl:flex flex-col min-h-screen"><a href="/"
                                                                     class="-intro-x flex items-center pt-5"><span
                        class="text-white text-lg"> <span class="font-bold"></span></span></a>
                    <div class="my-auto"><img alt="investment bot" class="-intro-x w-3/4 -mt-16"
                                              src="/static/private/dist/images/bg-login.svg">
                        <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">A few more clicks
                            to<br>sign
                            in to your account.
                        </div>
                    </div>
                </div>
                <div class="h-screen xl:h-auto flex pb-5 xl:py-0  xl:my-0">
                    <div class="my-auto mx-auto xl:ml-20 bg-white xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-3/4 xl:w-3/4">
                        <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">Sign in</h2>
                        <div class="intro-x mt-2 text-gray-500 xl:hidden text-center">A few more clicks to sign in to
                            your
                            account.
                        </div>
                        <form SignInForm>
                            <div class="intro-x mt-8"><input type="email" required
                                                             class="intro-x login__input input w-full input--lg border border-gray-300 block"
                                                             placeholder="Enter your email" value="" name="email"><input
                                    type="password"
                                    required
                                    class="intro-x login__input input w-full input--lg border border-gray-300 block mt-4"
                                    placeholder="Enter your password"
                                    value="" name="password"></div>
                            <div class="intro-x flex text-gray-700 text-xs sm:text-sm mt-4">
                                <div class="flex items-center mr-auto"><input type="checkbox" class="input border mr-2"
                                                                              id="remember-me"><label
                                        class="cursor-pointer select-none" for="remember-me">Remember Me</label></div>
                                <a href="/forgot-password">Forgot Password?</a></div>
                            <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                                <button type="submit"
                                        class="button button--lg w-full xl:w-32 text-white bg-theme-1 xl:mr-3">Login
                                    <svg viewBox="0 0 24 24" height="18" width="18" aria-hidden="true" focusable="false"
                                         fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="StyledIconBase-ea9ulj-0 hPhvO">
                                        <line x1="5" x2="19" y1="12" y2="12"></line>
                                        <polyline points="12 5 19 12 12 19"></polyline>
                                    </svg>
                                </button>
                                <a type="button" href="/register"
                                   class="button button--lg w-full xl:w-32 text-gray-700 border border-gray-300 mt-3 xl:mt-0">
                                    Sign up
                                    <svg viewBox="0 0 24 24" height="18" width="18" aria-hidden="true" focusable="false"
                                         fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="StyledIconBase-ea9ulj-0 hPhvO text-theme-1">
                                        <path d="M16 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"></path>
                                        <circle cx="8.5" cy="7" r="4"></circle>
                                        <line x1="20" x2="20" y1="8" y2="14"></line>
                                        <line x1="23" x2="17" y1="11" y2="11"></line>
                                    </svg>
                                </a>
                            </div>
                        </form>
                        <div class="intro-x mt-10 xl:mt-24 text-gray-700 text-center xl:text-left">By signing up, you
                            agree
                            to our<br><a class="text-theme-1" href="/">Terms and Conditions </a>&amp; <a
                                    class="text-theme-1" href="/">Privacy Policy</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}